"*":
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    telemetryConsent: "no"
  editor:
    scrollSensitivity: 60
    showLineNumbers: false
  "exception-reporting":
    userId: "59b128a1-3475-4b7d-9f80-1840c9a9d144"
