"*":
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    autoHideMenuBar: true
    packagesWithKeymapsDisabled: [
      "terminal-tab"
    ]
    projectHome: "/home/krystof/code"
    telemetryConsent: "no"
  editor:
    scrollSensitivity: 100
    showIndentGuide: true
    showLineNumbers: false
    tabType: "soft"
  "exception-reporting":
    userId: "59b128a1-3475-4b7d-9f80-1840c9a9d144"
  "linter-pylint":
    disableTimeout: true
    rcFile: "~/.pylintrc"
  "linter-ui-default":
    panelHeight: 170
  "markdown-preview":
    useGitHubStyle: true
  "spell-check":
    addKnownWords: true
    knownWords: [
      "Ecogate"
      "Analytics"
      "greenBOXes"
      "json"
      "config"
      "ecogate"
      "Dockerfile"
      "fullscreen"
      "emacs"
      "Krystof"
      "Kubernetes"
      "kubectl"
      "yaml"
      "https"
      "TODO"
      "cron"
      "repo"
      "Transformational"
      "analytics"
    ]
  "terminal-plus":
    core: {}
    toggles:
      runInsertedText: false
  "terminal-tab":
    defaultLocation: "right"
  welcome:
    showOnStartup: false
".python.regexp.source":
  editor:
    tabLength: 2
".python.source":
  editor:
    autoIndentOnPaste: true
    tabLength: 2
    tabType: "soft"
